.arrow {
  background-color: var(--color-nav-arrow-bg);
  color: var(--color-nav-arrow-text);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color var(--transition-fast),
    opacity var(--transition-fast);
  font-size: var(--font-size-xl);
  user-select: none;
}

.arrow:hover:not(:disabled) {
  background-color: var(--color-nav-arrow-bg-hover);
}

.arrow:disabled {
  opacity: 0.3;
  cursor: default;
}
